
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div>
        ! Erreur lors du chargement de la page !
        
        Le site est peut être en maintenance ...

        Veuillez actualiser ou rééssayer plus tard !
    </div>
</body>
</html>
