
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AjouterClient</title>
</head>
<body>
    Le client (@ViewData["Nom"], @ViewData["Age"]) a bien été ajouté.
</body>
</html>
