
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @if ((bool)ViewData["livreExist"])
        {
            <div>Le livre @ViewData["Nom"] a bien été réservé, vous pouvez aller le récupérer.</div>
        }
        else
        {
            <div> Le livre que vous recherchez : @ViewData["Nom"] , n'est pas dans la bibliothèque.</div>
        }
    </div>
</body>
</html>
