
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        Vous avez bien remis le livre  @ViewData["Nom"] de @ViewData["Autheur"] , année @ViewData["Annee"]
        <br/>
        Nous vous remercions 
    </div>
</body>
</html>
